In [48]:
# Tratamiento de datos
# ==============================================================================
import pandas as pd
import numpy as np

# Gráficos
# ==============================================================================
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns

# Preprocesado y modelado
# ==============================================================================
from scipy.stats import pearsonr
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.anova import anova_lm
from scipy import stats

# Configuración matplotlib
# ==============================================================================
plt.rcParams['image.cmap'] = "bwr"
#plt.rcParams['figure.dpi'] = "100"
plt.rcParams['savefig.bbox'] = "tight"
style.use('ggplot') or plt.style.use('ggplot')

# Configuración warnings
# ==============================================================================
import warnings
warnings.filterwarnings('ignore')

In [61]:
Variables = np.genfromtxt(fname='variables.txt')
COP = np.genfromtxt(fname='COP.txt')
TinGEAB = Variables[0,:]
TinEVAB = Variables[1,:] 
ToutABGE = Variables[2,:] 
TinABGE = Variables[3,:] 
ToutGECO = Variables[4,:] 
ToutGEAB = Variables[5,:] 
TinCO = Variables[6,:]
ToutCO = Variables[7,:] 
TinEV = Variables[8,:]
ToutEVAB = Variables[9,:] 
XinAB = Variables[10,:]
XoutAB = Variables[11,:]
XinGE = Variables[12,:]
XoutGE = Variables[13,:] 
PAB = Variables[14,:]
PGE = Variables[15,:]
data = {'TinGEAB': Variables[0,:],'TinEVAB' : Variables[1,:],'ToutABGE' : Variables[2,:],'TinABGE' : Variables[3,:],'ToutGECO' : Variables[4,:],'ToutGEAB' : Variables[5,:], 'TinCO' : Variables[6,:], 'ToutCO': Variables[7,:], 'TinEV' : Variables[8,:],'ToutEVAB' : Variables[9,:],'XinAB' : Variables[10,:],'XoutAB' : Variables[11,:],'XinGE' : Variables[12,:],'XoutGE' : Variables[13,:] ,'PAB' :Variables[14,:],'PGE' : Variables[15,:] ,'COP':COP }
datos = pd.DataFrame([data])
datas = {'TinGEAB': np.transpose(Variables[0,:]),'COP':np.transpose(COP)}
datas2 = pd.DataFrame([datas])
datos

,TinGEAB,TinEVAB,ToutABGE,TinABGE,ToutGECO,ToutGEAB,TinCO,ToutCO,TinEV,ToutEVAB,XinAB,XoutAB,XinGE,XoutGE,PAB,PGE,COP
0,"[81.35, 81.46, 81.66, 81.82, 82.1, 82.28, 82.4...","[75.02, 75.84, 76.13, 76.14, 76.15, 76.02, 75....","[85.32, 86.66, 86.39, 86.31, 86.52, 86.5, 86.9...","[83.16, 83.13, 82.96, 83.08, 83.06, 83.06, 83....","[81.35, 81.46, 81.66, 81.82, 82.1, 82.28, 82.4...","[77.03, 77.09, 77.16, 77.29, 77.4, 77.49, 77.5...","[41.79, 41.86, 41.89, 41.98, 42.05, 42.1, 42.1...","[28.67, 28.68, 28.69, 28.72, 28.76, 28.76, 28....","[68.62, 70.47, 72.03, 74.75, 75.29, 74.24, 71....","[75.02, 75.84, 76.13, 76.14, 76.15, 76.02, 75....","[52.39, 52.39, 52.39, 52.39, 52.39, 52.39, 52....","[51.08, 51.08, 51.08, 51.08, 51.08, 51.08, 51....","[51.08, 51.08, 51.08, 51.08, 51.08, 51.08, 51....","[53.49, 53.49, 53.49, 53.49, 53.49, 53.49, 53....","[10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10....","[20.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20....","[0.39, 0.37, 0.37, 0.38, 0.38, 0.38, 0.38, 0.3..."

828.968061095019

In [75]:
matrix = np.corrcoef(Variables[2,:], COP)
matrix

array([[1.        , 0.07633457],
       [0.07633457, 1.        ]])

In [45]:
my_rho = np.corrcoef(Variables[0,:], COP)
my_rho

array([[1.       , 0.0020513],
       [0.0020513, 1.       ]])

In [46]:
def tidy_corr_matrix(corr_mat):
    '''
    Función para convertir una matriz de correlación de pandas en formato tidy
    '''
    corr_mat = corr_mat.stack().reset_index()
    corr_mat.columns = ['TinGEAB','COP','r']
    corr_mat = corr_mat.loc[corr_mat['TinGEAB'] != corr_mat['COP'], :]
    corr_mat['abs_r'] = np.abs(corr_mat['r'])
    corr_mat = corr_mat.sort_values('abs_r', ascending=False)
    
    return(corr_mat)



corr_matrix = datos.select_dtypes(include=['float64', 'int']).corr(method='pearson')
tidy_corr_matrix(corr_matrix).head(10)

Empty DataFrame
Columns: [TinGEAB, COP, r, abs_r]
Index: []

Empty DataFrame
Columns: [variable_1, variable_2, r, abs_r]
Index: []

In [34]:
Variables = np.genfromtxt(fname='variables.txt')
Variables
COP

       COP
0     0.39
1     0.37
2     0.37
3     0.38
4     0.38
...    ...
6781  0.36
6782  0.35
6783  0.35
6784  0.35
6785  0.35

[6786 rows x 1 columns]